<h2>Questions</h2>

<div class="question">
  <p>Question: <%= @question.content %></p>
  <p>Answers: </p>
  <% @question.answers.each do |answer| %>
    <p> <%= answer.content %></p>
  <% end %>
</div>